*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.left-link{
    border: 1px solid grey;
    width: 13%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(90deg) translateY(150%);
    background-color: black;
    position: fixed;
    left: 0;
    top: 47%;
    .link{
        color: white;
    }
}

.right-link{
    border: 1px solid grey;
    width: 13%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg) translateY(150%);
    background-color: black;
    position: fixed;
    right: 0;
    top: 47%;
    .link{
        color: white;
    }
}
